.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  flex: 30%;
  background-color: cyan;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  font-size: 17px;
}

.header button {
  width: 70px;
  height: 87px;
  background-color: grey;
  color: black
}

.People {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.person {
  width: 500px;
  height: 50px;
  display: flex;
  color: black;
  margin: 15px;
}

.person .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person .content span {
  display: grid;
  place-items: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: cyan;
}

.person button {
  flex: 20%;
  height: 100%;
  border: 1px solid black;
  background-color: grey;
  color: black;
  cursor: pointer;
}
